@model IEnumerable<Tarefas.Web.Models.TarefaViewModel>
<table class = "table">
    <thead>
        <th>
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        </thead>
                @foreach (var item in Model)
            {
        <tr>

                <td>
                        @item.Id
                </td>
                <td>
                        @item.Titulo
                </td>
                <div class="col-sm-10"></div>
                <td>
                        @item.Descricao
                </td>

                <td>       
                       <a asp-controller=""Tarefa" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
    <td>
            </tr>
}
</table>

